/*geometrys*/
$headerH:100px;

$asideWExpanded:230px;
$asideWCollapsed:50px;

$footerH:60px;

/*Z-index*/
$headerZ:900;
$asideZ:800;
$contentZ:400;
$footerZ:600;

/*colors*/
$asideBackgroundColor:#dce3e8;
$headerBackgroundC:#3c4452;


$etpWhite:#fff;