
// Import bootstrap and fontawesome
@import "bootstrap";
@import "font-awesome";
@import "etp-var";


///generate media queries mixin by Eduardo Boucas
@import "media-mixin";
/*
example 
@include media(">400px","<=500px"){}   ==>  @media (min-width:401px) and (max-width:500px)
example2
@include media(">tablet", "<=desktop", "retina2x") {
*/

//@import "etp-mixins";


.float-left{
    float:left;
}
.float-right{
    float:right;
}
.clear-both{
    clear:both;
}
/*adaptive classes*/

/*hide some insignificant staff on low resolution*/
@include media("<=750px"){
    .block-xs-hidden{
        display:none;
    }
}

/*header block styles*/
@import "blocks/header";

/*aside block styles*/
@import "blocks/aside";

/*content block styles*/
@import "blocks/content";

/*footer block styles*/
@import "blocks/footer";

