//Блок сортировки результатов поиска
.etp-search-result-list-item {
    //overflow:hidden;
    
    

    &__content {
        h5{
            color:$etp-dark-grey-c;
            @extend %normal-bold;
        }
        >div{
            margin-bottom:15px;
        }
        background:$etp-white-c;
        
        border-left:1px solid $etp-grey-c;
        border-right:1px solid $etp-grey-c;
        border-bottom:1px solid $etp-grey-c;
    }
    
    &__header {
        min-height:36px;
        color:$etp-white-c;
        @extend %normal-thin;
        background:$etp-medium-grey-c;
        padding:7px 5px;
        text-align: left;
        vertical-align: middle;
    }
    &__header.collapsed {
    }
   
    &__buttons {
        button:first-child {
            float:left;
        }
        button:last-child {
            float:right;
        }
    }
    
    

}