/*TODO exclude individual blocks styles to match BEM rules*/

/*General styles*/
header.main-header{
    min-width:$total-min-width;
    position:relative;
    z-index:$header-z;
    overflow:hidden;
    width:100%;
    height:$header-h;
    background:$header-background-c;
    .header-logo{
        float:left;
        &__img-lg{
            margin-right:20px;
        }
        &__img-xs{
            margin: 0 20px 5px 0;
        }
        &__site-title{
            color:$etp-yellow-c;
            font-family: 'Exo 2', sans-serif;
            font-weight:700;
            font-size:20px;
            margin:5px 0;
        }
    }
    .header-time{
        font-family: 'Exo 2', sans-serif;
        font-weight:500;
        color:$etp-yellow-c;
        &__icon{
            margin-right:5px;
        }
    }
    .header-account{
        font-family: 'Exo 2', sans-serif;
        font-weight:500;
        float:right;
        color:$etp-white;
        &__image {
            display:inline-block;
            border:2px solid $etp-white;
            border-radius:50%;
            width:50px;
            height:50px;
        }           
        &__menu {
            margin:0 0 0 15px;
            display:inline-block;
            i {
                margin:0 10px;
            }
            >div {
                float:right;
            }
        }
    }
}

/*Adaptive behaviour*/

@include media(">tablet"){
    header.main-header{
        .header-logo{
            width:340px;
            transition: transform 0.3s ease-in-out 0s, width 0.3s ease-in-out 0s;
            padding: 10px 0 0 10px;
            &__img-lg{
                display:visible;
            }
            &__img-xs{
                display:none;
            }
        }
        .header-time {
            margin:31px 10px 0 0;
            float:right;
         }
        .header-account {
            margin:25px 10px 0 0;

        }
    }
}

@include media("<=tablet"){
    header.main-header{
        .header-logo{
            transition: transform 0.3s ease-in-out 0s, width 0.3s ease-in-out 0s;
            padding: 0 0 0 10px;
            background:$header-background-xs-color;
            width:100%;
            &__img-lg{
                display:none;
            }
            &__img-xs{
                display:visible;
            }
            &__site-title{
                display:inline-block;
            }
        }
        .header-account {
            margin:9px 10px 0 0;
         }
        .header-time {
            margin:15px 10px 0 10px;
            float:left;
            /*position:absolute;
            top:0px;
            right:12px;*/
        }
    }
}

