aside.sidebar
    a.sidebar__toggle(href="#" role="button-toggle")
        i.fa.fa-bars
    nav.sidebar__menu(role="main-nenu")
        ul
            li
                a.side-menu-item
                    i.fa.fa-home
                    span Главаная
            li
                a.side-menu-item
                    i.fa.fa-search
                    span Поиск закупок
            li
                a.side-menu-item
                    i.fa.fa-level-down
                    span Закупки
            li
                a.side-menu-item
                    i.fa.fa-level-up
                    span Продажи
            li
                a.side-menu-item
                    i.fa.fa-file
                    span Документы
            li
                a.side-menu-item
                    i.fa.fa-question-circle
                    span Обучение
            li
                a.side-menu-item
                    i.fa.fa-cog
                    span Настройки