div.content
            div.container-fluid
                div.row
                    div.col-sm-6.col-xs-12
                        span= filler
                    div.col-sm-6.col-xs-12
                        span= filler