//-Форма для поиска закупок

div.etp-search-field        
        div.input-group
            input.etp-search-field__input(type="text" class="form-control" placeholder="Поиск закупок...")
            span.input-group-btn
                button(class="btn btn-success etp-search-field__button" type="button")
                    |Найти &nbsp
                    i.fa.fa-search