//-переключение таблица список

div.etp-search-switch-view
        span.etp-search-switch-view__title.hidden-md.hidden-sm.hidden-xs Показать:
        div(class="btn-group" role="group" aria-label="...")
            button(type="button" class="btn etp-search-switch-view__btn etp-search-switch-view__btn_active") таблицей
            button(type="button" class="btn etp-search-switch-view__btn") списком