//- Блок рузультата поиска - лист

//- etpSRListItem (header, number, text, price, type, endTime, bidNum)

//- include ./etp-search-result-list-item
include ./etp-search-result-list-item_2

div.etp-search-result-list
  
   +etpSRListItem(etpSearchName1, "№98798768", etpSearchBy1, filler, "45000", "Аукцион", "12.06.2016", "5")
   +etpSRListItem(etpSearchName3, "№34345632", etpSearchBy4, filler, "45000", "Аукцион", "12.06.2016", "5")
   +etpSRListItem(etpSearchName4, "№85247433", etpSearchBy2, filler, "45000", "Аукцион", "12.06.2016", "5")
   +etpSRListItem("Поставка оборудования для производства хлеба", "№13682789", etpSearchBy1, filler, "45000", "Аукцион", "12.06.2016", "5")
   +etpSRListItem(etpSearchName1, "№98798768", etpSearchBy1, filler, "45000", "Аукцион", "12.06.2016", "5")
   +etpSRListItem(etpSearchName3, "№34345632", etpSearchBy3, filler, "45000", "Аукцион", "12.06.2016", "5")
   +etpSRListItem(etpSearchName4, "№85247433", etpSearchBy4, filler, "45000", "Аукцион", "12.06.2016", "5")
   +etpSRListItem("Поставка оборудования для производства хлеба", "№13682789", etpSearchBy2, filler, "45000", "Аукцион", "12.06.2016", "5")
   +etpSRListItem(etpSearchName1, "№98798768", etpSearchBy1, filler, "45000", "Аукцион", "12.06.2016", "5")
   +etpSRListItem(etpSearchName3, "№34345632", etpSearchBy3, filler, "45000", "Аукцион", "12.06.2016", "5")
