//-сортировка результатов поиска

div.etp-search-result-sorting
        span.etp-search-result-sorting__title Сортировать по:
        span.etp-search-result-sorting__type Цене
        button.etp-search-result-sorting__btn
            i.fa.fa-caret-down
        span.etp-search-result-sorting__type Названию
        button.etp-search-result-sorting__btn
            i.fa.fa-caret-up