header.main-header
    a.header-logo(href="#")
        img.header-logo__img-lg(src="#{logoUrlLg}")
        img.header-logo__img-xs(src="#{logoUrlXs}")
        h5.header-logo__site-title= siteTitle
    div.header-account
        img.header-account__image(src="#{accImgUrl}")
        div.header-account__menu
            span Соколов Д.В.
            div
                i.fa.fa-sign-out
                span Выход
                
    div.header-time
        h5
            i.fa.fa-clock-o.header-time__icon
            |19:08  12 января 2016 г.
   