head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    script(type="text/javascript" data-main="js/main" src="js/require.js")
    script(src="http://html5shiv.googlecode.com/svn/trunk/html5.js")
    link(href='https://fonts.googleapis.com/css?family=Exo+2:200,500,700&subset=latin,cyrillic' rel='stylesheet' type='text/css')
    link(rel='stylesheet' href='css/main.css')
    //- link(href='css/bs_theme/bootstrap-theme.min.css' rel='stylesheet' type='text/css')
    link(href='css/jquery-ui.min.css' rel='stylesheet' type='text/css')