header.main-header
    a.logo-header(href="#")
        img.logo-header__img-lg(src="#{logoUrlLg}")
        img.logo-header__img-xs(src="#{logoUrlXs}")
        h5.logo-header__site-title= siteTitle
    div.account-header
        img.account-header__image(src="#{accImgUrl}")
        div.account-header__menu
            span Соколов Д.В.
            div.float-right
                    i.fa.fa-sign-out
                    span Выход
                
    div.time-header
        h6.block-xs-hidden Время сервера:
        h5 19:08  12 января 2016 г.
   