- var filler = "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
- var fillerS = "Lorem ipsum dolor sit amet"
- var siteTitle = "Электронная торговая площадка"
- var logoUrlLg = "/img/logo.png"
- var logoUrlXs = "/img/logo-xs.png"
- var accImgUrl = "/img/james-stewart_s.jpg"

//- Данные для страницы поиска
- var etpSearchName1 = "Приобретение светодиодного оборудования"
- var etpSearchName2 = "Поставка серверного, сетевого оборудования, а также неисключительных прав на использование программного обеспечения в соответствии с требованиями технического задания и проекта договора"
- var etpSearchName3 = "Производство прочих транспортных средств и оборудования, не включенных в другие группировки"
- var etpSearchName4 = "Монтаж инженерного оборудования зданий и сооружений"
- var etpSearchBy1 = "МУП Пущинская электрическая сеть"
- var etpSearchBy2 = "ООО Нефтегаз холдинг"
- var etpSearchBy3 = "ООО Светлый город"
- var etpSearchBy4 = "ОАО Горстройинвест"