/*geometrys*/
$total-min-width:500px;
$header-h:100px;

$aside-w-expanded:230px;
$aside-w-collapsed:50px;

$footer-h:60px;


/*Z-index*/
$header-z:900;
$aside-z:800;
$content-z:400;
$footer-z:600;


/*colors*/

$aside-background-color:#dce3e8;
$header-background-c:#3c4452;
$header-background-xs-color:#4b5b77;
$content-background-c:#eff0f1; //#fafaff;

//shades of grey by darkness

$etp-dark-grey-c:#3c4452;
$etp-medium-grey-c:#636975;
$etp-grey:#c7c8d2;
$etp-grey-c:#c7c8d2;
$etp-light-grey:#dce3e8;

$etp-yellow-c:#f0e700;
$etp-green-c:#338d37;
$etp-white:#fff;
$etp-white-c:#fff;


$etp-text-dark:#3c4452;

/*--placeholders--*/

/*typography*/

%normal-bold {
    font-family:'Exo 2', sans-serif;
    font-weight:700;
}
%normal-thin {
    font-family:'Exo 2', sans-serif;
    font-weight:500;
}
%button {
    font-family:'Exo 2', sans-serif;
    font-weight:700;
    text-transform:uppercase;
}

%button-light {
    border:1px solid $etp-grey-c;
    background:$etp-light-grey;
    color:$etp-dark-grey-c;
}

%button-dark {
    border:1px solid $etp-medium-grey-c;
    background:$etp-medium-grey-c;
    color:$etp-white-c;
}
