include ./includes/head
body
    div.wrapper-gp

        include ./includes/header-guest     
        include ./includes/content-guest
        include ./includes/footer-guest
            
    