include ./includes/head
body.sidebar-expanded
    div.wrapper
        include ./includes/header
        aside.sidebar
            span= filler
        div.content
            div.container-fluid
                div.row
                    div.col-sm-6.col-xs-12
                        span= filler
                    div.col-sm-6.col-xs-12
                        span= filler
        footer
            span= filler
            
    