include ./includes/head
body
    div.wrapper

        include ./includes/header       
        include ./includes/aside

        div.content
            div.container-fluid
                div.row
                    div.col-sm-6.col-xs-12
                        span= filler
                    div.col-sm-6.col-xs-12
                        span= filler
                    
        footer
            
    