include includes/locals
include includes/mixins/index.jade
include includes/functions
doctype html
html(lang="ru")
    include ./includes/head
    body.login
        div.login-wrapper
            include includes/login-box
            
    