include includes/html
    include ./includes/head
    body
        div.wrapper

            include ./includes/header       
            include ./includes/aside
            include ./includes/content-registration-step1
            include ./includes/footer
            
    