include includes/locals
include includes/mixins/index.jade
include includes/functions
doctype html
html(lang="ru")
    include ./includes/head
    body
        div.wrapper

            include ./includes/header       
            include ./includes/aside
            include ./includes/content-registration
            include ./includes/footer
            
    