//Блок сортировки результатов поиска
.etp-nav-gp{
    margin-bottom:0 !important;
    border:none !important;
    span.fa{
        margin-right: 5px;
        font-size:18px;
    }
    .navbar-toggle{
        margin:5px 15px 5px 0 !important;
    }
        
    
}